//글로벌 스타일
$lgray: #ececec;
@import "./components/styles/media/media.scss";
html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $lgray;
}
body {
  &.modal {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
  }
}
* {
  box-sizing: border-box;
}
#root {
  main {
    padding-top: 65px;
    padding-left: 173px;
    padding-right: 173px;
    display: flex;
    justify-content: center;
    @include tabletSmall {
      padding-left: 0px;
      padding-right: 0px;
    }
    @include mobile {
      padding-top: 50px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
