$black: #242424;
$gray: #b3b3b3;
$bgray: #dee0e4;
$lgray: #ececec;
$ldgray: #d8d8d8;
$ldgray: #8d8d8d;
$dgray: #646464;
$orange: #ffae00;
$dorange: #ff7300;
$lorange: #fdd835;
$vlorange: #ffff6b;
$green: #55aa55;
$dgreen: #439443;
$vdgreen: #388638;
