$black: #242424;
$gray: #b3b3b3;
$bgray: #dee0e4;
$dbgray: #d0d1d4;
$vlgray: #f3f3f3;
$lgray: #ececec;
$ldgray: #d8d8d8;
$ldgray: #8d8d8d;
$dgray: #646464;
$blue: #374481;
$brown: #5e3f06;
$vdyellow: #c9ab25;
$dyellow: #eccb38;
$yellow: #fffb00;
$orange: #ffae00;
$ldorange: #eea300;
$dorange: #ff7300;
$lorange: #f8f0ce;
$vlorange: #ffff6b;
$lgreen: #23b823;
$green: #55aa55;
$dgreen: #439443;
$vdgreen: #388638;
$ggreen: #f8ec80;
