@import "./global-color.scss";
@import "./media/media.scss";
.mypage-container {
  width: 720px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  .my-top {
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .my-top-description-box {
      position: relative;
      background-color: $black;
      border-radius: 5px;
      border: 1px solid $black;
      color: white;
      height: 340px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .setting-btn {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 23px;
        height: 23px;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: $dgray;
        font-size: 0.9rem;
        color: $black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        padding: 0;
        overflow: hidden;
        svg {
          min-width: 23px;
        }
        &:hover {
          transition: all 0.1s ease-in-out;
          padding: 10px 10px;
          width: 110px;

          svg {
            min-width: 0.9rem;
            max-width: 0.9rem;
          }
        }
      }

      .description-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        color: $gray;
        max-height: 100%;
        max-width: 90%;
        span {
          max-height: 7rem;
          overflow: hidden;
          margin: 5px 0px;
        }
        .quote-left {
          align-self: flex-start;
        }
        .quote-right {
          align-self: flex-end;
        }
      }
    }
    .my-top-sort-box {
      border-radius: 5px;
      position: relative;
      height: 130px;
      background-color: white;
      border: 1px solid $bgray;
      display: flex;
      justify-content: space-between;
      .my-img-box {
        position: absolute;
        width: 180px;
        height: 180px;
        left: 50%;
        transform: translate(-50%, calc(-50% - 5px));
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $lgray;
        img {
          border-radius: 50%;
          border: 5px solid #ffe6008c;
          width: 90%;
          height: 90%;
        }
      }
      .user-name {
        position: absolute;
        color: $black;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0px;
        height: 45px;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: bold;
      }
      button {
        outline: none;
        border: none;
        font-size: 1.3rem;
        padding: 0;
        color: $gray;
        background-color: transparent;
        border-radius: 5px;
        width: 270px;
        &.active {
          color: $dgray;
          font-weight: bold;
          border-bottom: 5px solid $vlorange;
        }
      }
    }
  }

  @include mobile {
    width: 100%;
    margin-top: 0px;
    .my-top {
      .my-top-description-box {
        border-radius: 0px;
        border: none;
        border-bottom: 1px solid $black;
        span {
          max-height: 7.2rem;
        }
      }
      .my-top-sort-box {
        border: none;
        border-radius: 0px;
        border-top: 1px solid $bgray;
        border-bottom: 1px solid $bgray;
        .user-name {
          height: 60px;
        }
        .my-img-box {
          width: 150px;
          height: 150px;
        }
        button {
          width: calc(50% - 75px);
        }
      }
    }
  }
  @include mobileSmall {
    .my-top {
      height: 400px;
      .my-top-description-box {
        height: 280px;
        .description-text {
          font-size: 1rem;
          span {
            max-height: 6rem;
          }
        }
      }
      .my-top-sort-box {
        height: 110px;
        .my-img-box {
          width: 120px;
          height: 120px;
        }
        .user-name {
          height: 55px;
          font-size: 1rem;
        }
        button {
          width: calc(50% - 60px);
          font-size: 1rem;
        }
      }
    }
  }

  @include smartPhone {
    .my-top {
      height: 320px;
      .my-top-description-box {
        height: 220px;
        .description-text {
          font-size: 0.85rem;

          span {
            max-height: 5.1rem;
          }
        }
      }
      .my-top-sort-box {
        height: 90px;
        .my-img-box {
          width: 100px;
          height: 100px;
        }
        .user-name {
          font-size: 1rem;
        }
        button {
          width: calc(50% - 50px);
          font-size: 0.9rem;
        }
      }
    }
  }
}
