$orange: #fdd835;
$lorange: #ffff6b;
$dorange: #ff7300;
$ywhite: #fffff7; //노란빛 흰색
$ygray: #6e6906;
$gray: #b3b3b3;
header {
  height: 75px;
  background-color: $orange;
  box-shadow: 0px -2px 10px $ygray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-left-menu {
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-title-container {
      font-size: 1.3rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      margin-left: 25px;
      color: white;
      .header-title-icon {
        width: 100px;
      }
    }
    .header-search {
      height: 2rem;
      font-size: 0px;
      position: relative;
      margin-right: 25px;
      .header-search-icon {
        position: absolute;
        vertical-align: middle;
        font-size: 1rem;
        height: 100%;
        margin-left: 10px;
        color: $gray;
      }
      input {
        height: 100%;
        width: 220px;
        border: none;
        border-radius: 20px;
        outline: none;
        padding-left: 40px;
      }
    }
  }

  .header-right-menu {
    font-size: 1.6rem;
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
  }
}
