@import "./global-color.scss";
@import "./media/media.scss";
@keyframes slide {
  0% {
    opacity: 0;
    margin-top: 25px;
  }
  100% {
    opacity: 1;
    margin-top: 40px;
  }
}
header {
  height: 65px;
  width: 100%;
  background-color: $horange;
  box-shadow: 0px -2px 10px $ygray;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  .header-left-menu {
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-title-container {
      margin-left: 25px;
      a {
        display: flex;
        align-items: center;
        .header-title-icon {
          width: 85px;
        }
      }
    }
    .header-search {
      position: relative;
      margin-right: 25px;
      form {
        button {
          font-size: 0;
          position: absolute;
          padding: 0;
          margin-left: 10px;
          height: 100%;
          outline: none;
          background-color: transparent;
          border: none;
          cursor: pointer;
          .header-search-icon {
            font-size: 0.9rem;
            color: $gray;
          }
        }

        input {
          font-size: 0.9rem;
          height: 2rem;
          width: 250px;
          border: none;
          border-radius: 20px;
          outline: none;
          text-indent: 38px;
          line-height: 32px;
        }
      }
    }
  }

  .header-right-menu {
    font-size: 1.6rem;
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
    .right-menu-item-link {
      color: $black;
      svg {
        display: block; //인라인 인식 때문에 block으로 바꿔줌
      }
    }

    .item-user {
      position: relative;
      .user-box {
        opacity: 1;
        animation-name: slide;
        animation-duration: 0.2s;
        animation-timing-function: ease-in-out;
        width: 130px;
        position: absolute;
        background-color: white;
        border-radius: 5px;
        border: 1px solid $lgray;
        right: 0px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        display: none;
        a {
          color: $dgray;
          width: 100%;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &:hover {
            background-color: $vlgray;
          }
        }
        &.active {
          display: block;
        }
      }
    }
    .item-rank {
      position: relative;
    }
  }
  @include tablet {
    .header-left-menu {
      width: 450px;
    }
  }
  @include mobile {
    height: 50px;
    .header-left-menu {
      width: 360px;
      .header-title-container {
        a {
          .header-title-icon {
            width: 60px;
          }
        }
      }
      .header-search {
        form {
          input {
            font-size: 0.75rem;
            height: 1.7rem;
            width: 200px;
          }
        }
      }
    }
    .header-right-menu {
      font-size: 1.4rem;
      width: 100px;
    }
  }
  @include mobileSmall {
    .header-left-menu {
      width: 250px;

      .header-title-container {
        margin-left: 10px;
        a {
          .header-title-icon {
            width: 40px;
          }
        }
      }
      .header-search {
        form {
          button {
            .header-search-icon {
              font-size: 0.7rem;
            }
          }

          input {
            font-size: 0.55rem;
            height: 1.7rem;
            width: 160px;
          }
        }
      }
    }
    .header-right-menu {
      margin-right: 10px;
      font-size: 1.2rem;
      width: 80px;
    }
  }
  @include smartPhone {
    .header-left-menu {
      width: 200px;
      .header-title-container {
        margin-left: 5px;
        a {
          .header-title-icon {
            width: 35px;
          }
        }
      }
      .header-search {
        form {
          input {
            font-size: 0.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            text-indent: 25px;
            height: 1.4rem;
            line-height: 1.4rem;
            width: 120px;
          }
        }
      }
    }
    .header-right-menu {
      margin-right: 10px;
      font-size: 1rem;
      width: 60px;
    }
  }
}
