@import "./global-color.scss";
@keyframes backround_ani {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes container_ani {
  0% {
    opacity: 0;
    top: 0;
  }
  100% {
    opacity: 1;
    top: 15px;
  }
}

.outter-box {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: background_ani;
  animation-duration: 0.3s;
}
.setting-modal {
  color: $dgray;
  opacity: 0;
  z-index: 11;
  position: absolute;
  display: flex;
  width: 540px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  top: 15px;
  border-radius: 3px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.23);
  animation-name: container_ani;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-fill-mode: both;

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid $lgray;

    .title_image {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      box-shadow: 0 0 12px $ldgray;
      img {
        border-radius: 50%;
        width: 110px;
      }
      .camera-box {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid $bgray;
        background-color: $lgray;
        color: $black;
        bottom: 0px;
        right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .user-name {
      font-weight: bold;
      color: $black;
      padding: 20px 0px;
      font-size: 1.7rem;
    }
  }
  .modify_container {
    width: 100%;
    margin-bottom: 20px;
    input,
    textarea {
      width: 370px;
      background-color: $lgray;
      border: 1px solid $bgray;
      border-radius: 3px;
    }
    textarea {
      height: 110px;
      resize: vertical;
    }
    input {
      height: 45px;
      text-indent: 10px;
    }
    .input-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
    }
    .input-box-vertical-top {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    .bool-box {
      color: red;
      font-size: 0.8rem;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
  .btn-location {
    display: flex;
    justify-content: space-between;
    width: 240px;
    button {
      width: 110px;
      height: 55px;
      border-radius: 3px;
      font-size: 1.1rem;
      border: 1px solid $bgray;
      background: $lgray;
      color: $dgray;
      outline: none;
      cursor: pointer;
      &:hover {
        background-color: $vlgray;
      }
    }
    .save-btn {
      background-color: $green;
      border: 1px solid $dgreen;
      color: white;
      &:hover {
        background-color: $dgreen;
      }
    }
  }
}
