.timeline_container{
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 400px;
    border : 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
    padding: 3px 3px 3px 3px;
    background-color: white;

.timeline-icons {
    font-size: 1.5rem;
    margin-right: 5px;
    color: black;
}

.title_container{
    display: flex;
    height: 70px;

    .title_image{
        width: 70px;
        height: 70px;
        border-radius: 70%;
        overflow: hidden;
     }

     .title_Name{
        text-align: center;
        line-height: 70px;
    
    }
}

.timeline_conainer_bottom{
    display: flex;
    justify-content: space-between;
 

}
.button_style{
    border: 1px solid #323f6b;
    border-radius: 4px;
    padding: 2px 8px;
}

}