@import "../global-color.scss";
@import "../media/media.scss";
.comment-item {
  display: flex;
  color: $dgray;
  padding: 25px 0px;
  border-bottom: 1px solid $bgray;
  .comment-left {
    width: 8%;
    a {
      border-radius: 50%;
      width: 90%;
      padding-bottom: 90%;
      display: block;
      position: relative;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 3px solid $green;
        padding: 2px;
      }
    }
  }

  .comment-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 92%;

    .comment-header {
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;
      .comment-writer {
        color: $green;
        font-weight: bold;
        font-size: 1.1rem;
      }
      .comment-date {
        margin-left: 10px;
      }
      button {
        background-color: transparent;
        border: none;
        padding: 0;
        color: $gray;
        margin-left: 7px;
        cursor: pointer;
        &.active {
          color: $green;
        }
        &:hover {
          color: $green;
        }
      }
      .loading-box {
        //삭제했을때 나오는 스피너
        position: absolute;
        height: 100%;
        width: 26.67px;
        right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .comment-delete-btn {
        margin-left: auto;
      }
    }
    .comment-text {
      word-wrap: break-word;
      margin-top: 5px;
    }
  }
  @include mobile {
    .comment-left {
      width: 10%;
      a {
        img {
          border: 2px solid $green;
          padding: 1px;
        }
      }
    }
    .comment-content {
      width: 90%;
    }
  }
  @include mobileSmall {
    padding: 20px 0px;
    .comment-left {
    }
    .comment-content {
      .comment-header {
        .comment-writer {
          font-size: 0.85rem;
        }
        .comment-date {
          margin-left: 5px;
          font-size: 0.7rem;
        }
        button {
          margin-left: 5px;
          font-size: 0.7rem;
        }
      }
      .comment-text {
        margin-top: 3px;
        font-size: 0.8rem;
      }
    }
  }
}
