@import "../global-color.scss";
.post-header {
  width: 100%;
  color: $black;
  .header-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    .post-date {
      align-self: flex-end;
      color: $dgray;
      font-weight: bold;
      font-size: 0.8rem;
      font-style: italic;
      margin-bottom: 10px; //공통
    }
    .edit-btn-box {
      align-self: flex-end;
      button {
        background-color: transparent;
        color: $dgray;
        border: none;
        padding: 0;
        margin: 0;
        font-size: 0.7rem;
        cursor: pointer;
      }
      .edit-btn {
        padding-right: 5px;
        border-right: 1px solid $lgray;
        &:hover {
          color: $green;
        }
      }
      .delete-btn {
        padding-left: 5px;
        &:hover {
          color: red;
        }
      }
    }
    .post-header-middle {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      width: 60%;

      .header-food-img {
        width: 100%;
        height: 300px;
        border-radius: 5px;
        box-shadow: 1px 1px 10px $dgray;
      }
      .post-views {
        display: flex;
        align-items: center;
        position: absolute;
        padding: 5px;
        bottom: 5px;
        right: 5px;
        border-radius: 5px;
        height: 18px;
        opacity: 0.7;
        background-color: $black;
        color: $gray;
        svg {
          margin-right: 3px;
        }
      }
      a {
        color: $bgray;
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
        height: 120px;
        .header-profile-img {
          height: 100%;
          border: 7px solid $orange;
          border-radius: 40%;
        }
        .profile-background {
          opacity: 0;
          transition: opacity 0.2s ease-in-out;
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 40%;
          border: 7px solid $orange;
          background-color: rgba(0, 0, 0, 0.7);
          .profile-name {
            font-size: 0.8rem;
            height: 100%;
            word-break: break-all;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
          }
        }
        &:hover {
          .profile-background {
            opacity: 1;
          }
        }
      }
    }
    .title {
      margin-top: 80px;
      font-size: 1.5rem;
      color: $black;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .post-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $dgray;
      width: 100%;
      font-size: 1.4rem;
      margin-bottom: 20px;
      span {
        margin: 10px 0px;
        font-weight: bold;
      }
    }
    .post-category {
      display: flex;
      justify-content: space-between;
      width: 70%;
      color: $dgray;
      font-weight: bold;
      .post-category-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        svg {
          font-size: 1.6rem;
          margin-bottom: 10px;
        }
        button {
          padding: 0;
          background-color: transparent;
          border: none;
          outline: none;
          color: $dgray;
          cursor: pointer;
        }
      }
    }
  }
}
