@import "../global-color.scss";
@import "../media/media.scss";
.post-recipe-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  .view-box {
    padding: 0;
    display: flex;
    align-self: flex-end;
    .view-btn {
      display: flex;
      padding: 7px;
      border: 1px solid $lgray;
      color: $gray;
      margin-right: -1px;
      &.active {
        border: 1px solid $horange;
        color: $horange;
        z-index: 1;
      }
    }
  }
  .post-recipe-title {
    align-self: flex-start;
    font-weight: bold;
    font-size: 1.3rem;
  }
  .post-recipe-item-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    &.large {
      flex-direction: column;
    }
    &.middle {
      flex-direction: row;
    }
    &.onlyText {
      flex-direction: column;
    }
  }
  @include mobile {
    .view-box {
      .view-btn {
        padding: 6px;
        font-size: 0.9rem;
      }
    }
    .post-recipe-title {
      font-size: 1.2rem;
    }
    .post-recipe-item-container {
      &.middle {
        flex-direction: column;
      }
    }
  }
  @include mobileSmall {
    .view-box {
      .view-btn {
        padding: 5px;
        font-size: 0.8rem;
      }
    }
    .post-recipe-title {
      font-size: 1.15rem;
    }
    .post-recipe-item-container {
      &.middle {
        flex-direction: column;
      }
    }
  }
}
