@import "../global-color.scss";
@import "../media/media.scss";
.post-header {
  width: 100%;
  color: $black;
  .header-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    .post-date {
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      color: $dgray;
      font-weight: bold;
      font-size: 0.8rem;
      font-style: italic;
      span {
        margin-bottom: 10px; //공통
      }
      .loading-spinner {
        align-self: flex-end;
        margin-right: 10px;
      }
      .edit-btn-box {
        align-self: flex-end;
        button {
          background-color: transparent;
          color: $dgray;
          border: none;
          padding: 0;
          margin: 0;
          font-size: 0.7rem;
          cursor: pointer;
        }
        .edit-btn {
          padding-right: 5px;
          border-right: 1px solid $lgray;
          &:hover {
            color: $green;
          }
        }
        .delete-btn {
          padding-left: 5px;
          &:hover {
            color: red;
          }
        }
      }
    }

    .post-header-middle {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      width: 60%;
      padding-bottom: 37.5%; //비율일정 padding hack
      .header-food-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 5px;
        box-shadow: 1px 1px 10px $dgray;
      }
      .post-views {
        display: flex;
        align-items: center;
        position: absolute;
        padding: 5px;
        bottom: 5px;
        right: 5px;
        border-radius: 5px;
        height: 18px;
        opacity: 0.7;
        background-color: $black;
        color: $gray;
        svg {
          margin-right: 3px;
        }
      }
      a {
        color: $bgray;
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
        width: 120px;
        height: 120px;
        .header-profile-img {
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border: 7px solid $orange;
          border-radius: 40%;
        }
        .profile-background {
          opacity: 0;
          transition: opacity 0.2s ease-in-out;
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 40%;
          border: 7px solid $orange;
          background-color: rgba(0, 0, 0, 0.7);
          .profile-name {
            font-size: 0.8rem;
            height: 100%;
            word-break: break-all;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
          }
        }
        &:hover {
          .profile-background {
            opacity: 1;
          }
        }
      }
    }
    .title {
      margin-top: 80px;
      font-size: 1.5rem;
      color: $black;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .post-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $dgray;
      width: 100%;
      font-size: 1.4rem;
      margin-bottom: 20px;
      span {
        margin: 10px 0px;
        font-weight: bold;
      }
    }
    .post-category {
      display: flex;
      justify-content: space-between;
      width: 70%;
      color: $dgray;
      font-weight: bold;
      .post-category-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        svg {
          font-size: 1.6rem;
          margin-bottom: 10px;
        }
        button {
          padding: 0;
          background-color: transparent;
          border: none;
          outline: none;
          color: $dgray;
          cursor: pointer;
        }
      }
    }
  }
  @include mobile {
    .header-box {
      .post-header-middle {
        width: 85%;
        padding-bottom: 53.125%;
        .header-food-img {
          border-radius: 5px;
          box-shadow: 1px 1px 10px $dgray;
        }
        a {
          height: 100px;
          width: 100px;
          .header-profile-img {
            border: 6px solid $orange;
            border-radius: 40%;
          }
          .profile-background {
            border: 6px solid $orange;
            .profile-name {
              font-size: 0.7rem;
            }
          }
        }
      }
      .title {
        margin-top: 70px;
        font-size: 1.3rem;
      }
      .post-description {
        font-size: 1.2rem;
        margin-bottom: 20px;
      }
      .post-category {
        width: 80%;
        .post-category-item {
          svg {
            font-size: 1.5rem;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  @include mobileSmall {
    padding: 0px 0px 15px 0px !important;
    .header-box {
      width: 100% !important;

      .post-date {
        z-index: 1;
        position: absolute;
        padding: 5px 5px 0px 0px;
        right: 0;
        color: $lgray;
        span {
          background-color: rgba(0, 0, 0, 0.4);
          padding: 3px;
          border-radius: 3px;
        }
        .edit-btn-box {
          display: flex;
          flex-direction: column;
          button {
            width: 35px;
            align-self: flex-end;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            color: $gray;
          }
          .edit-btn {
            padding-right: 0px;
            border-right: none;
            padding: 3px;
          }
          .delete-btn {
            padding: 3px;
            margin-top: 5px;
          }
        }
      }
      .post-header-middle {
        width: 100%;
        padding-bottom: 62.5%;
        .header-food-img {
          border-radius: 0px;
          box-shadow: 0px 4px 10px $dgray;
        }
        a {
          height: 100px;
          .header-profile-img {
            height: 100%;
            border: 6px solid $orange;
            border-radius: 40%;
          }
          .profile-background {
            border: 6px solid $orange;
            .profile-name {
              font-size: 0.7rem;
            }
          }
        }
      }
      .title {
        font-size: 1.1rem;
      }
      .post-description {
        font-size: 1rem;
        margin-bottom: 20px;
      }
      .post-category {
        width: 90%;
        .post-category-item {
          svg {
            font-size: 1.2rem;
            margin-bottom: 5px;
          }

          font-size: 0.7rem;
        }
      }
    }
  }

  @include smartPhone {
    .header-box {
      .post-date {
        font-size: 0.6rem;
        .edit-btn-box {
          display: flex;
          flex-direction: column;
          button {
            font-size: 0.6rem;
          }
        }
      }
      .post-header-middle {
        a {
          width: 90px;
          height: 90px;
        }
      }
      .title {
        font-size: 1rem;
      }
      .post-description {
        font-size: 0.95rem;
      }
      .post-category {
        width: 95%;
        .post-category-item {
          svg {
            font-size: 1.1rem;
          }

          font-size: 0.7rem;
        }
      }
    }
  }
}
