@import "../global-color.scss";
@import "../media/media.scss";
.post-ingre {
  .post-ingre-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    .post-ingre-title {
      align-self: flex-start;
      font-weight: bold;
      font-size: 1.3rem;
    }
  }
  @include mobile {
    .post-ingre-box {
      .post-ingre-title {
        font-size: 1.2rem;
      }
    }
  }
  @include mobileSmall {
    .post-ingre-box {
      .post-ingre-title {
        font-size: 1.15rem;
      }
    }
  }
}
