@import "../global-color.scss";
@import "../media/media.scss";
.tag-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 720px;
  margin-top: 30px;
  flex-shrink: 0;
  .tag-page-title {
    align-self: flex-start;
    span {
      font-size: 1.4rem;
      color: $dgray;
      font-weight: bold;
    }
    .tag-page-title-tag {
      color: $orange;
      font-size: 1.7rem;
    }
    .tag-page-title-index {
      color: $green;
      font-size: 1.7rem;
    }
  }
  .sort-box {
    margin-top: 20px;
    align-self: flex-end;
    & button:nth-child(1) {
      margin-right: -1px;
      border-radius: 4px 0px 0px 4px;
    }
    & button:nth-child(3) {
      margin-left: -1px;
      border-radius: 0px 4px 4px 0px;
    }
    button {
      border: 1px solid $bgray;
      outline: none;
      cursor: pointer;
      width: 90px;
      height: 35px;
      background-color: white;
      color: $dgray;
      &.active {
        background-color: $orange;
        color: white;
        border: 1px solid $lgray;
      }
    }
  }

  @include mobile {
    width: 95%;
    .tag-page-title {
      span {
        font-size: 1.2rem;
      }
      .tag-page-title-tag {
        font-size: 1.4rem;
      }
      .tag-page-title-index {
        font-size: 1.4rem;
      }
    }
    .sort-box {
      button {
        width: 70px;
        height: 30px;
        font-size: 0.7rem;
      }
    }
  }
  @include mobileSmall {
    width: 98%;
    .tag-page-title {
      span {
        font-size: 1.1rem;
      }
      .tag-page-title-tag {
        font-size: 1.3rem;
      }
      .tag-page-title-index {
        font-size: 1.3rem;
      }
    }
    .sort-box {
      button {
        width: 60px;
        height: 27px;
        font-size: 0.6rem;
      }
    }
  }
}
