$dorange: #ff7300;
@import "../media/media.scss";
.ingre-item-box {
  margin-top: 10px;
  display: flex;
  align-items: center;
  .ingre-item-name {
    width: 300px;
    height: 45px;
  }
  .ingre-item-volume {
    margin-left: 20px;
    height: 45px;
    width: 250px;
  }
  button {
    font-size: 1.4rem;
    background-color: transparent;
    margin-left: 15px;
    display: flex;
    align-items: center;
    border: none;
    color: $dorange;
    outline: none;
    cursor: pointer;
  }
  @include mobile {
    width: 100%;
    justify-content: space-between;
    .ingre-item-name {
      width: 60%;
    }
    .ingre-item-volume {
      width: 35%;
    }
    button {
      padding: 0px;
      font-size: 1.2rem;
      margin-left: 5px;
    }
  }
  @include mobileSmall {
    width: 100%;
    justify-content: space-between;
    .ingre-item-name {
      width: 60%;
    }
    .ingre-item-volume {
      width: 35%;
    }
    button {
      font-size: 1.2rem;
      margin-left: 5px;
    }
  }
}
